<app-header></app-header>
<app-navside></app-navside>
<main>
    <h2 class="titulo">Cadastro de Lotes</h2>
    <div class="historic">

        <a [routerLink]="['/']">Home</a>
        /
        <a [routerLink]="['/lote/list']">Lista de Lotes</a>
        /
        <a>Lote</a>

    </div>
    <div class="content">
        <span>Dados da Lote</span>
    </div>
    <form [formGroup]="formLote" >

        <div class="group-ini">
            <div class="form-group">
                <label for="codigo">Código do lote:</label>
                <input type="text" id="codigo" formControlName="codigo" placeholder="#">
                <mat-error *ngIf="formLote.get('codigo') 
                                   && formLote.get('codigo')?.invalid
                                   && formLote.get('codigo')?.touched">
                    Código do lote é obrigatorio.
                </mat-error>
            </div>
            <div class="form-group">
                <label for="nome">Quantidade de Itens:</label>
                <input type="text" id="quantidadeItens" formControlName="quantidadeItens">
                <mat-error *ngIf="formLote.get('quantidadeItens') 
                                   && formLote.get('quantidadeItens')?.invalid
                                   && formLote.get('quantidadeItens')?.touched">
                    Quantidade de Itens é obrigatorio.
                </mat-error>
            </div>
            <div class="form-group">
                <label for="valorUnitario">Valor Unitario:</label>
                <input type="text" id="valorUnitario" formControlName="valorUnitario" placeholder="R$">
                <mat-error *ngIf="formLote.get('valorUnitario') 
                                   && formLote.get('valorUnitario')?.invalid
                                   && formLote.get('valorUnitario')?.touched">
                    O Valor Unitario é obrigatorio.
                </mat-error>
            </div>
            <div class="form-group">
                <label for="estoque">Estoque:</label>
                <input type="text" id="estoque" formControlName="estoque" placeholder="#">
                <mat-error *ngIf="formLote.get('estoque') 
                                   && formLote.get('estoque')?.invalid
                                   && formLote.get('estoque')?.touched">
                    A quantidade de itens no estoque é obrigatorio.
                </mat-error>
            </div>
        </div>

        <div class="group">
            <div class="form-group">
                <label for="valorTotal">Valor Total:</label>
                <input type="text" id="valorTotal" formControlName="valorTotal" placeholder="R$">
                <mat-error *ngIf="formLote.get('valorTotal') 
                                   && formLote.get('valorTotal')?.invalid
                                   && formLote.get('valorTotal')?.touched">
                    A Valor Total é obrigatoria.
                </mat-error>
            </div>
            <div class="form-group">
                <label for="dataCompra">Data da Compra:</label>
                <input type="date" id="dataCompra" formControlName="dataCompra">
                <mat-error *ngIf="formLote.get('dataCompra') 
                                   && formLote.get('dataCompra')?.invalid
                                   && formLote.get('dataCompra')?.touched">
                    O Data Compra é obrigatorio.
                </mat-error>
            </div>
            <div class="form-group">
                <label for="fornecedor">Fornecedor:</label>
                <mat-select id="fornecedor" formControlName="fornecedor">
                    @for (fornecedor of fornecedores; track fornecedor.id) {
                        <mat-option [value]="fornecedor">
                            {{fornecedor.nome}}
                        </mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="formLote.get('fornecedor') 
                                       && formLote.get('fornecedor')?.invalid
                                       && formLote.get('fornecedor')?.touched">
                    O fornecedor é obrigatorio.
                </mat-error>
            </div>
        </div>
        

    </form>
    <div class="bnt-group">
        <button type="submit" class="btn-cancelar" [routerLink]="['/lote/list']">Cancelar</button>
        <button type="submit" class="btn-excluir" (click)="confirmDelete(formLote?.value)"
            *ngIf="formLote?.get('id')?.value">Excluir</button>
        <button type="submit" class="btn-salvar" (click)="salvar()">Salvar</button>
    </div>

</main>