<div class="navside">
    <div class="top">
        <div style="color: white;">
            <mat-icon>menu</mat-icon>
        </div>
        <span>Menu de Navegação</span>
    </div>
    <hr>
    <nav class="nav-links">
        <ul>
            <li>
                <button class="links-bnt" href="#" (click)="toggleSubmenu(0)">
                    <mat-icon>group_outlined</mat-icon>
                    <span>Gerência de Usuário</span>
                </button>
                <div class="submenu" [class.active]="isSubmenuOpen[0]">
                    <ul>
                        <li><a href="adm/list">*Administradores</a></li>
                        <li><a href="cliente/list">*Clientes</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button class="links-bnt" href="#" (click)="toggleSubmenu(1)">
                    <mat-icon>photo_album_outlined</mat-icon>
                    <span>Gerência de Produtos</span>
                </button>
                <div class="submenu" [class.active]="isSubmenuOpen[1]">
                    <ul>
                        <li><a href="marcas/list">*Marcas</a></li>
                        <li><a href="modelos/list">*Modelos</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button href="#" class="links-bnt" (click)="toggleSubmenu(2)">
                    <mat-icon>assignment_outlined</mat-icon>
                    <span>Estoque</span>
                </button>
                <div class="submenu" [class.active]="isSubmenuOpen[2]">
                    <ul>
                        <li><a href="#">Estoque</a></li>
                        <li><a href="fornecedor/list">Fornecedores</a></li>
                        <li><a href="#">Lotes</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button href="#" class="links-bnt" (click)="toggleSubmenu(3)">
                    <mat-icon>shopping_cart_outlined</mat-icon>
                    <span>Pedidos</span>
                </button>
                <div class="submenu" [class.active]="isSubmenuOpen[3]">
                    <ul>
                        <li><a href="#">Opção 1</a></li>
                        <li><a href="#">Opção 2</a></li>
                        <li><a href="#">Opção 3</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button href="#" class="links-bnt" (click)="toggleSubmenu(4)">
                    <mat-icon>insert_chart_outlined</mat-icon>
                    <span>Relatorios</span>
                </button>
                <div class="submenu" [class.active]="isSubmenuOpen[4]">
                    <ul>
                        <li><a href="#">Opção 1</a></li>
                        <li><a href="#">Opção 2</a></li>
                        <li><a href="#">Opção 3</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>