.navside {
    height: 100vh;
    width: 210px;
    position: fixed;
    top: 70px; 
    left: 0;
    background-color: #3839AF;
    padding: 20px;
    color: #fff;
}

.links-bnt {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 16px;
    gap: 10px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.nav-links ul {
    list-style: none;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    color: #ddd;
}

.submenu {
    display: none;
    margin-left: 35px;
}

.submenu.active {
    display: block;
}

.nav-links li {
    margin: 25px 0;
}
