<header>
    <div class="toolbar">
        <div class="logo">
            <button class="logo-bnt" (click)="logHome()">
                <img href="home" src="/assets/logo-noColor.png" alt="Logo 2">
            </button>
        </div>
        <div>
            <p>Bem ao Painel Administrador</p>
        </div>
        <div class="actions">
            <button id="dropdown-btn">
                <img src="/assets/User.jpg" alt="User">
            </button>
            <div class="dropdown-content">
                <a href="#">Dashboard</a>
                <a href="#">Sair</a>
            </div>
        </div>
    </div>
</header>