
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3839AF;
  color: white;
  height: 50px;
  padding: 10px 20px;
  border-bottom-right-radius: 40px;
}

.logo-bnt{
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.logo img {
  width: 160px;
  height: 68px;
}

.welcome-message {
  margin-right: 450px;
}

.actions {
  position: relative;
}

.actions img{
  border-radius: 100%;
}

#dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #3839AF;
  min-width: 120px;
  z-index: 1;
  border-radius: 15px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
}

.dropdown-content a:hover {
  background-color: #0076CD;
}

.actions:hover .dropdown-content {
  display: block;
}



/* Media Query para dispositivos menores */
@media screen and (max-width: 767px) {
  .welcome-message {
    display: none; /* Esconde a mensagem de boas-vindas */
  }
}
