<header>
    <div class="toolbar">
        <div class="logo">
            <button class="logo-bnt">
                <img src="/assets/logo-azul.png" alt="Logo 2">
            </button>
        </div>
        <div class="welcome-message">
            <p>Bem vindo Victor, ao Painel Administrador</p>
        </div>
        <div class="actions">
            <button id="dropdown-btn">
                <img src="/assets/User.jpg" alt="User">
            </button>
            <div class="dropdown-content">
                <a href="#">Dashboard</a>
                <a href="#">Sair</a>
            </div>
        </div>
    </div>
</header>