hr{
    border: none; /* Remover a borda padrão */
  height: 1px; /* Definir a altura desejada */
  background-color: #5E4BFE; /* Cor da linha */
  margin: 20px 0; /* Margem superior e inferior */
}
#nome{
  margin-left: 1.2rem;
}
#quant{
  margin-left: 7.5rem;
}
#unidade{
  margin-left: 3.1rem;
}
#valor{
  margin-right: 5.2rem;
}