<app-header></app-header>
<ng-container *ngIf="carrinhoItens.length > 0; else carrinhoVazio">
    <div class="lg:container lg:mx-auto grid grid-cols-9 lg:grid-cols-12">
        <!--Informações do cliente-->
        <div
            class="w-50 col-span-5 lg:col-span-5 xl:col-span-7 bg-white h-auto lg:h-screen relative lg:px-10 p-6 lg:py-12">

            <h3 class="font-semibold text-gray-800 text-4xl  mt-2">Carrinho</h3>

            <div class="mt-7 lg:mt-20">
                <p class="font-normal text-sm text-gray-600 mb-3">Seus dados</p>
                <h3 class="text-2xl text-gray-800 font-medium">Insira seus dados</h3>

                <form class="mt-8" action="" autocomplete="off">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-10">
                        <input aria-label="emailAddress"
                            class="border-b-2 border-gray-300 pb-3 text-base text-gray-600 font-normal placeholder-gray-600 focus:outline-none"
                            type="email" name="email" id="email" placeholder="Email address" />
                        <input aria-label="yourName"
                            class="border-b-2 border-gray-300 pb-3 text-base text-gray-600 font-normal placeholder-gray-600 focus:outline-none"
                            type="text" name="yourName" id="YourName" placeholder="Your name" />
                        <input aria-label="phoneNumber"
                            class="border-b-2 border-gray-300 pb-3 text-base text-gray-600 font-normal placeholder-gray-600 focus:outline-none"
                            type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" />
                    </div>
                </form>
            </div>

            <button
                class="bg-indigo-500 rounded-xl hover:bg-indigo-900 text-white p-4 text-lg my-3 mt-10 w-full md:w-auto">Proceed
                to
                shipping</button>
        </div>

        <!--Lista de pedidos-->
        <div
            class="w-max h-auto relative col-span-9 lg:col-span-4 xl:col-span-5 bg-gray-200 lg:h-auto xl:h-screen px-8 py-14 xl:px-12 xl:py-20">
            <div class="flex flex-col">
                <h3 class="text-gray-800 font-semibold text-2xl -mt-7 mb-5">Items do seu carrinho:</h3>
                <div class="flex flex-row justify-between space-x-6 mr-0 mt-5 -mb-6">
                    <h4 id="nome" class="text-gray-500 font-semibold text-base ">Nome</h4>
                    <h4 id="quant" class="text-gray-500 font-semibold text-base ">Quatidade</h4>
                    <h4 id="unidade" class="text-gray-500 font-semibold text-base ">Unidade</h4>
                    <h4 id="valor" class="text-gray-500 font-semibold text-base ">Valor</h4>
                </div>

            </div>

            <!-- Container with scrollable content -->
            <div class="mt-7 flex flex-col text-gray-800 text-lg font-normal overflow-y-auto h-80 w-auto">
                <div *ngFor="let item of carrinhoItens">
                    <div class="p-3 flex flex-row justify-center space-x-7">
                        <h3 class="w-40 ">{{ item.nome }}</h3>
                        <div class="flex items-center justify-center space-x-1">
                            <h3 class="flex-auto text-right pr-4 md:pr-5 lg:pr-4">{{ item.quantidade }}</h3>
                            <button
                                class="px-1 h-8 w-8  bg-indigo-500 rounded-xl hover:bg-indigo-900 text-white  focus:outline-none focus:ring-2 "
                                (click)="diminuirQuantidade(item)">
                                -
                            </button>
                            <button
                                class="px-1 h-8 w-8 bg-indigo-500 rounded-xl hover:bg-indigo-900 text-white focus:outline-none focus:ring-2 "
                                (click)="aumentarQuantidade(item)">
                                +
                            </button>
                        </div>
                        <h3>{{ item.valor }}</h3>
                        <h3>{{ formatarValor(item.quantidade * item.valor) }}</h3>
                        <button
                            class="flex items-center justify-center w-10 h-10 bg-indigo-500 text-white rounded-full hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
                            (click)="removerItem(item)">
                            <!-- SVG do ícone de "X" -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <hr>
                </div>
            </div>

            <div
                class="-bottom-7 px-8 xl:px-12 pb-5 md:-bottom-96 bg-gray-100 md:pt-80 md:pb-10 lg:pb-10 lg:pt-0 lg:mt-0 lg:bottom-0 absolute left-0 w-full text-lg font-medium text-gray-800">
                <span aria-label="Total" class="float-left text-2xl text-gray-800 font-normal">Total</span>
                <span aria-label="Total Price" class="float-right font-semibold text-gray-800 text-2xl">${{
                    calcularTotal() }}</span>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #carrinhoVazio>
    <div class="flex items-center justify-center py-12">
        <div class="bg-white border rounded-md flex items-center justify-center mx-4 md:w-2/3">
            <div class="flex flex-col items-center py-16">
                <img class="md:hidden" src="https://i.ibb.co/RgYQvV7/undraw-page-not-found-su7k-1.png" />
                <h1 class="px-4 pt-8 pb-4 text-center text-5xl font-bold leading-10 text-gray-800">OOPS!</h1>
                <p class="px-4 pb-10 text-base leading-none text-center text-gray-600">Seu carrinho está vazio. Que tal
                    dar uma olhada em nossos produtos e adicionar algo especial?</p>
                <button
                    class="mx-4 h-10 w-44 border rounded-md text-white text-base bg-indigo-700 hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-opacity-50 focus:ring-indigo-800">Go
                    Back</button>
            </div>
        </div>
    </div>
</ng-template>

<app-footer></app-footer>