<div class="popup-content">

    <h2>Informações do Usuário</h2>

    <div class="userInfo">
        <div class="title">
            <span><strong>Nome:</strong></span>
        </div>
        <div class="infor">
            <span>{{data.nome}}</span>
        </div>
        <div class="title" class="two">
            <span><strong>CPF:</strong></span>
            <span ><strong>Matricula:</strong></span>
            <span><strong>Senha:</strong></span>
        </div>
        <div class="infor" class="two">
            <span>{{data.cpf}}</span>
            <span >{{data.matricula}}</span>
            <span >{{data.senha}}</span>
        </div>
        <div class="title">
            <span ><strong>Email:</strong></span>
        </div>
        <div class="infor">
            <span >{{data.email}}</span>
        </div>
    </div>
    <div class="popup-bnt">
        <button class="bnt-cancelar" (click)="cancelar()">Cancelar</button>
        <button class="bnt-editar" (click)="editar(data.id)">Editar</button>
    </div>
</div>