<div class="bg-white">

  <header class="relative bg-white">

    <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="border-b border-gray-200">
        <div class="flex h-16 items-center">

          <!-- Logo -->
          <div class="ml-4 flex lg:ml-0">
            <a [routerLink]="['/casefy/home']">
              <span class="sr-only">Casefy</span>
              <img class="h-16 w-auto" src="/assets/logo-branca.png" alt="">
            </a>
          </div>

          <!-- Flyout menus -->
          <div class="hidden lg:ml-8 lg:block lg:self-stretch">
            <div class="flex h-full space-x-8">
              <div class="flex">
                <div class="relative flex">
                  <!-- Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" -->
                  <button routerLink="/marca/Apple" type="button"
                    class="border-transparent text-sm font-medium text-gray-700 hover:text-purple-700 text-gray-700 hover:text-gray-800 relative z-10 -mb-px flex items-center border-b-2 pt-px text-sm font-medium transition-colors duration-200 ease-out"
                    aria-expanded="false">Apple</button>
                </div>
              </div>
              <div class="flex">
                <div class="relative flex">
                  <!-- Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" -->
                  <button routerLink="/marca/Samsung" type="button"
                    class="flex items-center text-sm font-medium text-gray-700 hover:text-purple-700"
                    aria-expanded="false">Samsung</button>
                </div>
              </div>
              <div class="flex">
                <div class="relative flex">
                  <!-- Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" -->
                  <button routerLink="/marca/Motorola" type="button"
                    class="flex items-center text-sm font-medium text-gray-700 hover:text-purple-700"
                    aria-expanded="false">Motorola</button>
                </div>
              </div>
              <div class="flex">
                <div class="relative flex">
                  <!-- Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" -->
                  <button routerLink="/marca/Xiaomi" type="button"
                    class="flex items-center text-sm font-medium text-gray-700 hover:text-purple-700"
                    aria-expanded="false">Xiaomi</button>
                </div>
              </div>
              <div class="flex">
                <div class="relative flex">
                  <!-- Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" -->
                  <button routerLink="/marca/LG" type="button"
                    class="flex items-center text-sm font-medium text-gray-700 hover:text-purple-700"
                    aria-expanded="false">LG</button>
                </div>
              </div>
            </div>
          </div>

          <div class="ml-auto flex items-center">

            <!-- Cart -->
            <div class="ml-4 flow-root lg:ml-6">
              <a (click)="onCarrinhoClick()" class="group -m-2 flex items-center  p-2">
                <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500" fill="none"
                  viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
                <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">{{ quantCarrinho()
                  }}</span>
              </a>
            </div>

            <div class="flex lg:ml-6 relative">
              <!-- User Button -->
              <button (click)="toggleMenu()" class="p-2 text-gray-400 hover:text-purple-700">
                <span class="sr-only">User</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z" />
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 14.5c-2.33 0-7 1.17-7 3.5V21h14v-3c0-2.33-4.67-3.5-7-3.5z" />
                </svg>
              </button>

              <!-- User Menu -->
              <div *ngIf="menuVisible" id="userMenu" class="absolute bg-white shadow-lg rounded-md mt-11 mr-16 w-48">
                <div class="py-1">
                  <a href="/orders" class="group -m-2 hover:text-purple-900 flex items-center p-2">
                    <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500" fill="none"
                      viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25l3 3-3 3M12.75 8.25l3 3-3 3" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 12H3" />
                    </svg>
                    <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">Pedidos</span>
                  </a>
                  <a href="/orders" class="group -m-2 hover:text-purple-700 flex items-center p-2">
                    <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500" fill="none"
                      viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4-4-4M21 12H7" />
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M11 6.75V6a3.75 3.75 0 00-7.5 0v12a3.75 3.75 0 007.5 0v-.75" />
                    </svg>
                    <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">Sair</span>
                  </a>
                </div>
              </div>
            </div>


            <span>{{usuarioLogado?.nome}}</span>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Psicologia</span>

  <span class="example-spacer"></span>
  <button routerLink="/carrinho" mat-icon-button class="demo-section example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon matBadgeColor="warn" matBadgePosition="after" matBadgeOverlap="false">shopping_cart</mat-icon>
  </button>

  <button mat-icon-button (click)="deslogar()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <span>{{usuarioLogado?.nome}}</span>

</mat-toolbar>

<!-- Mobile Brands Component -->
<app-marca-grid *ngIf="showMobileBrands"></app-marca-grid>