<app-header></app-header>
<app-navside></app-navside>
<main>
    <h2 class="titulo">Promoção</h2>
    <div class="historic">
        <a href="/src/app/components/administradores/form/form.component.html">Home /</a>
        <span>Lista das Promoções</span>
    </div>
    <div class="content">
        <button class="bnt-cadastro" [routerLink]="['/promocao/form']">Cadastrar</button>
        <div class="search">
            <label for="">Buscar: </label>
            <input type="text" placeholder=" Pesquise pelo nome" [(ngModel)]="searchText" (keyup)="search()">
        </div>
    </div>

    <table mat-table [dataSource]="promocoes" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id: </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código: </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição: </th>
            <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
        </ng-container>

        <ng-container matColumnDef="valorDesconto">
            <th mat-header-cell *matHeaderCellDef> Valor do Desconto: </th>
            <td mat-cell *matCellDef="let element"> {{element.valorDesconto}} </td>
        </ng-container>

        <!-- Acao Column -->
        <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef> Ação </th>
            <td mat-cell *matCellDef="let element">
                <button class="bnt-visualizar" (click)="visualizarDados(element)">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button class="bnt-editar" [routerLink]="['/promocao/edit', element.id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="bnt-apagar" (click)="confirmDelete(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</main>