<div class="popup-content">

    <h2>Informações do Usuário</h2>

    <div class="userInfo">
        <h3>ID: <span class="data-info">{{data.id}}</span></h3>
        <h3>quantidadeItens: <span class="data-info">{{data.quantidadeItens}}</span></h3>
        <h3>valorUnitario: <span class="data-info">{{data.valorUnitario}}</span></h3>
        <h3>valorTotal: <span class="data-info">{{data.valorTotal}}</span></h3>
        <h3>dataCompra: <span class="data-info">{{data.fornecedor.nome}}</span></h3>
     </div>

    <div class="popup-bnt">
        <button class="bnt-cancelar" (click)="cancelar()">Cancelar</button>
        <button class="bnt-editar" (click)="editar(data.id)">Editar</button>
    </div>
</div>
