<app-header></app-header>
<app-navside></app-navside>
<main>
    <h2 class="titulo">Cadastro de Modelos</h2>
    <div class="historic">

        <a [routerLink]="['/']">Home</a>
        /
        <a [routerLink]="['/modelos/list']">Lista de Administradores</a>
        /
        <a>Administrador</a>

    </div>
    <div class="content">
        <span>Dados do Modelo de capinhas</span>
    </div>
    <form [formGroup]="formGroup">

        <div class="group-ini">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" formControlName="nome">
                <mat-error *ngIf="formGroup.get('nome') 
                                   && formGroup.get('nome')?.invalid
                                   && formGroup.get('nome')?.touched">
                    O nome é obrigatorio.
                </mat-error>
            </div>
            <div class="form-group">
                <label for="modelo">Modelo:</label>
                <input type="text" id="modelo" formControlName="modelo">
                <mat-error *ngIf="formGroup.get('modelo') 
                                   && formGroup.get('modelo')?.invalid
                                   && formGroup.get('modelo')?.touched">
                    O modelo é obrigatorio.
                </mat-error>
            </div>

    </form>
    <div class="bnt-group">
        <button type="submit" class="btn-cancelar" [routerLink]="['/modelos/list']">Cancelar</button>
        <button type="submit" class="btn-excluir" (click)="confirmDelete(formGroup?.value)"
            *ngIf="formGroup?.get('id')?.value">Excluir</button>
        <button type="submit" class="btn-salvar" (click)="salvar()">Salvar</button>
    </div>

</main>